[submodule "home-manager"]
	path = home-manager
	url = https://github.com/rycee/home-manager
[submodule "nixpkgs-mozilla"]
	path = nixpkgs-mozilla
	url = https://github.com/mozilla/nixpkgs-mozilla.git
[submodule "backgrounds"]
	path = backgrounds
	url = https://github.com/yrashk/backgrounds
